{% extends "my_app/base.html" %}
{% load static %}
{% block body_block %}
<div class = 'jumbotron'>
    {% if registered %}
        <h1>thankuhhh</h1>
    {% else %}
        <h1>register here</h1>
        <h2>fill it out</h2>
        <form method ='post' enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p}}
            {{ profile_form.as_p }}
            <input type="submit" name="" value="Register">
            
        </form>
    {% endif %}
</div>

{% endblock %}